<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="manajemen_inventaris.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <manajemen_inventaris.Properties.Settings>
            <setting name="des_paket1" serializeAs="String">
                <value>Ini merupakan deskripsi paket 1</value>
            </setting>
            <setting name="des_paket2" serializeAs="String">
                <value>Ini merupakan deskripsi paket 2</value>
            </setting>
            <setting name="des_paket3" serializeAs="String">
                <value>Ini merupakan deskripsi paket 3</value>
            </setting>
            <setting name="pass" serializeAs="String">
                <value>mauthai</value>
            </setting>
            <setting name="harga_paket1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="harga_paket2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="harga_paket3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="nama_paket1" serializeAs="String">
                <value>Paket1</value>
            </setting>
            <setting name="nama_paket2" serializeAs="String">
                <value>Paket2</value>
            </setting>
            <setting name="nama_paket3" serializeAs="String">
                <value>Paket3</value>
            </setting>
            <setting name="waktu" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="antrian" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="des_paket4" serializeAs="String">
                <value>Ini merupakan deskripsi paket 4</value>
            </setting>
            <setting name="des_paket5" serializeAs="String">
                <value>Ini merupakan deskripsi paket 5</value>
            </setting>
            <setting name="des_paket6" serializeAs="String">
                <value>Ini merupakan deskripsi paket 6</value>
            </setting>
            <setting name="des_paket7" serializeAs="String">
                <value>Ini merupakan deskripsi paket 7</value>
            </setting>
            <setting name="des_paket8" serializeAs="String">
                <value>Ini merupakan deskripsi paket 8</value>
            </setting>
            <setting name="des_paket9" serializeAs="String">
                <value>Ini merupakan deskripsi paket 9</value>
            </setting>
            <setting name="harga_paket4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="harga_paket5" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="harga_paket6" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="harga_paket7" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="harga_paket8" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="harga_paket9" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="nama_paket4" serializeAs="String">
                <value>Paket 4</value>
            </setting>
            <setting name="nama_paket5" serializeAs="String">
                <value>Paket 5</value>
            </setting>
            <setting name="nama_paket6" serializeAs="String">
                <value>Paket 6</value>
            </setting>
            <setting name="nama_paket7" serializeAs="String">
                <value>Paket 7</value>
            </setting>
            <setting name="nama_paket8" serializeAs="String">
                <value>Paket 8</value>
            </setting>
            <setting name="nama_paket9" serializeAs="String">
                <value>Paket 9</value>
            </setting>
        </manajemen_inventaris.Properties.Settings>
    </userSettings>
</configuration>